# IDEs and editors
.idea/
*.iml
*.idea

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# Eclipse Patch
# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Java
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz

# SBT
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/


